body{
    background-color: darkgray;
}
.todo-container{
    background-color: blanchedalmond;
    display: flex;
    text-align: center;
    width: 5rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 2rem;
    margin-left: 3rem;
}