body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    width: 40vw;
    margin: auto;
    border: 3px solid black;
}
.completed{
    text-decoration: line-through;
}
.hidden{
    display: none;
}
.active{
    text-decoration: underline;
    font-size: 10px;
}
li{
    list-style-type: none;
}